* {
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  padding: 0;
}

header {
  margin-top: 51px;
}

.header {
  font-size: 38px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 38px;
}

nav {
  height: 51px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.hamburger {
  display: none;
}

.label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  width: 112px;
  height: 24px;
  background-color: #000000;
  margin: 0 auto;
  text-align: center;
  padding-top: 4px;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 13px 70px;
}

.menu_list .menu_item {
  border-right: dotted black;
  padding-right: 30px;
}

.menu_list .menu_item:last-child {
  border-right: none;
}

.menu_list .menu_item .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.menu_list .menu_last {
  border-right: 0;
  padding-right: 0;
}

.subheader {
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.subheader_logo {
  display: block;
  margin-top: 16px;
}

.subheader_call {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  margin: 23px 6px 0 0;
  line-height: 12px;
}

.subheader_tel {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  display: block;
  text-decoration: none;
  margin: 8px 6px 0 0;
}

.subheader_btn {
  width: 178px;
  height: 52px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: 0px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 4px;
  margin-top: 16px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.subheader_btn:hover {
  background-image: linear-gradient(187deg, #1eacc7 0%, #4ce2ff 100%);
}

.xs_visible {
  display: none;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.promo {
  min-height: 748px;
  background: url("../img/bg/bg_header.jpg") center center/cover no-repeat;
  text-align: center;
  padding: 151px 0 132px 0;
}

.promo_welcome {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 23px 90px 0 90px;
}

.promo_btn {
  width: 265px;
  height: 69px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  border: 0px solid rgba(0, 0, 0, 0.06);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 4px;
  margin-top: 115px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.promo_btn:hover {
  background-image: linear-gradient(187deg, #1eacc7 0%, #4ce2ff 100%);
}

.causes {
  min-height: 900px;
  padding: 71px 0 68px 0;
  margin: 0 35px;
}

.causes .causes_wrap {
  margin-top: 35px;
}

.causes .info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.causes .causes_img {
  min-width: 113px;
  min-height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 35px;
}

.causes .causes_info {
  display: inline-block;
  max-width: 360px;
  margin-left: 25px;
}

.causes .info_header {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}

.causes .info_text {
  font-size: 15px;
  font-weight: 400;
  color: #202020;
  margin-top: 2px;
  text-align: justify;
}

.mobile {
  min-height: 863px;
  background: url("../img/bg/bg_mobile.jpg");
  padding: 48px 0 80px 0;
}

.mobile_header {
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-top: 38px;
  text-align: center;
}

.mobile_subheader {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 13px;
}

.mobile_wrap {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 19px;
  padding-top: 91px;
  position: relative;
}

.mobile_wrap_text {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.mobile_wrap_plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile_wrap_plus:before {
  content: "";
  display: block;
  height: 2px;
  width: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_wrap_plus:after {
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_wrap_plus:hover:before, .mobile_wrap_plus:hover:after {
  background-color: red;
}

.mobile_wrap_1 {
  background-image: url("../img/mobile/mobile_1.jpg");
}

.mobile_wrap_2 {
  background-image: url("../img/mobile/mobile_2.jpg");
}

.mobile_wrap_3 {
  background-image: url("../img/mobile/mobile_3.jpg");
}

.mobile_wrap_4 {
  background-image: url("../img/mobile/mobile_4.jpg");
}

.mobile_wrap_5 {
  background-image: url("../img/mobile/mobile_5.jpg");
}

.mobile_wrap_6 {
  background-image: url("../img/mobile/mobile_6.jpg");
}

.choice {
  max-height: 896px;
  background: url("../img/bg/choice.jpg") center center/cover no-repeat;
  text-align: center;
  padding: 56px 0 138px 0;
}

.choice .label {
  background-color: #ffffff;
  color: black;
}

.choice_header {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 32px;
  line-height: 32px;
}

.choice_subheader {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 19px;
}

.choice img {
  margin-top: 56px;
}

.choice_text {
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}

.conditions {
  padding: 68px 0 84px 0;
}

.conditions_wrap {
  margin-left: 7px;
  max-width: 480px;
}

.conditions_header {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: #1ca8c3;
  margin-top: 33px;
}

.conditions_header_red {
  color: #ff5656;
  margin-top: 62px;
}

.conditions_list {
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  list-style: none;
  margin: 15px 0 0 0;
  line-height: 33px;
}

.conditions_list li {
  position: relative;
  margin-left: 50px;
}

.conditions_list li:before {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png");
  position: absolute;
  left: -32px;
  top: 5px;
}

.conditions_list_red li:before {
  background: url("../icons/check_red.png");
}

.conditions_subheader {
  font-size: 17px;
  font-weight: 300;
  color: #1ca8c3;
  font-weight: 400;
  margin-top: 15px;
}

.cities {
  min-height: 717px;
  background: url("../img/bg/cities.jpg");
  padding: 49px 0;
  position: relative;
}

.cities .label {
  background-color: #ffffff;
  color: #070716;
}

.cities .header {
  color: #ffffff;
  margin-top: 32px;
}

.cities_subheader {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.cities_check a {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  position: absolute;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
}

footer {
  padding: 14px 0 39px 0;
  position: relative;
}

footer .line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

footer .footer_row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 296px;
  margin: 0 23px;
}

footer .footer_row_1 a {
  text-decoration: none;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  margin-right: 9px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

footer .footer_row_1 a:hover {
  color: grey;
}

footer .footer_row_2 {
  width: 400px;
  text-align: center;
}

footer .footer_row_2 .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer_row_2 .footer_menu a {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}

footer .footer_row_2 .footer_submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 12px;
}

footer .footer_row_2 .footer_submenu a {
  font-size: 11px;
  line-height: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

footer .footer_row_3 {
  width: 296px;
  margin: 0 23px;
}

footer .footer_bottom-line {
  width: 100%;
  height: 8px;
  background-color: #070716;
  position: absolute;
  bottom: 0px;
}

footer .line_lang {
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
  margin-top: 19px;
  text-align: center;
  display: inherit;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .menu_list .menu_item {
    border-right: dotted black;
    padding-right: 13px;
  }
  .mobile_wrap {
    width: 296px;
  }
}

@media (max-width: 992px) {
  .menu_list {
    padding: 13px 38px;
  }
  .menu_list .menu_item {
    border-right: dotted black;
    padding-right: 10px;
  }
  .menu_list .menu_item .menu_link {
    font-size: 11px;
  }
  .subheader_logo img {
    width: 230px;
  }
  .subheader_call {
    font-size: 11px;
  }
  .subheader_tel {
    font-size: 19px;
  }
  .subheader_btn {
    width: 140px;
    font-size: 13px;
  }
  h1 {
    font-size: 45px;
  }
  .promo_welcome {
    font-size: 27px;
  }
  .causes .info_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .causes .info_wrap .causes_info {
    margin-top: 15px;
  }
  .mobile_wrap {
    width: 215px;
    height: 210px;
    padding-top: 35px;
  }
  .mobile_wrap_text {
    font-size: 15px;
  }
  .choice img {
    width: 500px;
  }
  footer .footer_row_1 {
    width: 25%;
  }
  footer .footer_row_2 .footer_menu a {
    font-size: 12px;
  }
  footer .footer_row_3 {
    width: 20%;
  }
  .cities {
    min-height: 590px;
  }
}

@media (max-width: 767px) {
  .menu_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13px 38px;
    position: fixed;
    height: 100vh;
    width: 50%;
    left: -100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_list_active {
    left: 0;
  }
  .menu_list .menu_item {
    margin: 10px;
  }
  .menu_list .menu_item .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: auto;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger span:nth-last-child(3) {
    margin-top: 0px;
  }
  .hamburger_active span {
    margin-top: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(1px) rotate(-45deg);
            transform: translateY(1px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .xs_none {
    display: none;
  }
  .xs_visible {
    display: block;
  }
  .subheader_btn {
    float: right;
    margin: 5px;
    height: 40px;
  }
  .promo h1 {
    line-height: 45px;
  }
  .promo_welcome {
    font-size: 22px;
  }
  footer .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_row_1 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_row_2 {
    margin-top: 15px;
    width: auto;
  }
  footer .footer_row_3 {
    margin: 15px 0 0 0;
    width: auto;
  }
}

@media (max-width: 575px) {
  .choice img {
    width: 100%;
  }
  footer .footer_row_2 .footer_menu, footer .footer_row_2 .footer_submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_row_2 .footer_menu a, footer .footer_row_2 .footer_submenu a {
    line-height: 20px;
  }
  .subheader {
    height: 60px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_tel {
    font-size: 14px;
    margin: 0px 6px 0 0;
  }
  .subheader_btn {
    margin: 1px 5px 0 0;
    height: 30px;
  }
  .promo {
    min-height: 400px;
    padding: 120px 0 40px 0;
  }
  .promo h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .promo_welcome {
    font-size: 16px;
    line-height: 20px;
  }
  .promo_text {
    display: none;
  }
  .promo_btn {
    margin-top: 50px;
    font-size: 15px;
    width: 200px;
    height: 45px;
  }
  .header, .mobile_header, .choice_header {
    font-size: 24px;
    line-height: 30px;
  }
  .causes .info_wrap .causes_info {
    margin-left: 0px;
  }
  .causes_img {
    margin: 0 !important;
  }
  .choice {
    padding: 56px 0 45px 0;
  }
  .menu_list {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */